[submodule "lib/built_lsl"]
	path = host/lib/built_lsl
	url = git@github.com:Aightech/built_lsl
	branch = main
[submodule "lib/com_client"]
	path = host/lib/com_client
	url = git@github.com:Aightech/com_client
	branch = main
